#export LANG=en_US.UTF-8
#date +"%F %T"
#set nocscopeverbose
tags
cscope.in.out
cscope.out
cscope.po.out


*.o
objs/autoconf.err
objs/nginx
objs/ngx_auto_config.h
objs/Makefile
Makefile


third-module/tmp/*
