#export LANG=en_US.UTF-8
#date +"%F %T"
#set nocscopeverbose
commit.sh
tags
cscope.in.out
cscope.out
cscope.po.out
#Makefile


*.o
objs/autoconf.err
objs/nginx
objs/ngx_auto_config.h
objs/Makefile


myexercise/a.out

third-module/tmp/*
